.footer{
  position: relative;
  overflow: hidden;
  min-height: $footer-height;
  line-height: $footer-height;
  background: $color-secondary;
  padding: 0px $gutter-small;
  color: darken($color-secondary, 20%);

  .social-nav__link{
    color: darken($color-secondary, 20%);
  }
}

.footer-nav{
  list-style: none;
}

.footer-nav__list-item{
  display: inline-block;
}

.footer-nav__link{
  padding: 0 $gutter-small;
  text-decoration: none;
  color: darken($color-secondary, 20%);

  &:hover{
    color: $color-white;
  }
}
