.header{
	position: relative;
	width: 100%;
	height: $header-height;
	background: $color-primary;
	z-index: 100;

	.sticky{
		background: $color-primary;

		&-top{
    		top: 0;
		}
	}
}

.logo{
	position: relative;
	padding: 0 $gutter;
	box-sizing: border-box;
	height: $nav-height;
}

.logo__link{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	height: $nav-height;
	opacity: 1;
	transition: $transition-default;
}
