/*

	HOTSPOT

*/

.acf-hotspot{

	&__{

		&container{
			position: relative;
			counter-reset: point;
			float: left;
		}

		&image{
			position: relative;
			display: block;
			margin: 0;
			padding: 0;
			max-width: 100%;
		}

		&point{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;

			&:before{
				counter-increment: point;
    		content: counter(point);
				border-radius: 50%;
				position: relative;
				display: block;
				width: 20px;
				height: 20px;
				text-align: center;
				color: $color-white;
				line-height: 20px;
				z-index: 10;
				background: rgba(0,0,0,0.25);
			}
		}

		&clone-base{
			display: none;
		}

		&information{
			clear: both;
			counter-reset: field_number;
		}

		&point-fields{
			counter-increment: field_number;
		}

		&label{
			&:before{
				content: '#'counter(field_number);
			}
		}
	}
}
