.side-tap{
  position: absolute;
  height: $header-height;
  top: $nav-height/2;
  right: 0;
  padding-right: $gutter;
  transform: translate(0,-50%);
  color: $color-white;
  text-decoration: none;
  font-size: 2em;
  line-height: $header-height;
  transition: right $transition-length $transition-easing;

  &:before {
    content:'\2630';
  }
}

.side-tap__nav{
  @include break(mobile-land) {
    position: fixed;
    top: 0;
    right: -80%;
    height: 100%;
    width: 80%;
    overflow-y: scroll;
    background: $color-secondary;
    padding: $gutter-small 0;
    z-index: 100;
    transition: right $transition-length $transition-easing;

    .main-nav__list{
      float: none;
      margin: $gutter-small 0;
      padding: $gutter-small 0;
      background: darken($color-secondary, 10%);
    }

    .main-nav__list-item{
      display: block;
    }

    .main-nav__link{
    }

    .main-nav__sub{
      display: block;
    }

    .main-nav__link{
      display: block;
      height: auto;
      line-height: 1em;
      padding: $gutter-small $gutter;
      text-decoration: none;
    }

    .main-nav__sub-link{
    }
  }
}

.side-tap--open{

  @include break(mobile-land) {
    .side-tap{
      right: 80%;

      &:before {
        content:'\2718';
      }
    }

    .side-tap__nav{
      right: 0;
    }

    .logo__link{
      opacity: 0;
      transform: translate(-100%,0);
      transition: $transition-default;
    }
  }
}
