*::selection {
	background: $color-secondary !important;
	color: #fff !important;
}

*::-moz-selection {
	background: $color-secondary !important;
	color: #fff !important;
}

*::-webkit-selection {
	background: $color-secondary !important;
	color: #fff !important;
}

h1, h2, h3,
h4, h5, h6,
.h1, .h2, .h3,
.h4, .h5, .h6{
	font-weight: normal;
	font-size: $font-size;
	margin: 0 0 $gutter-small;
}

h1,.h1{
	font-size: 3em;
}

h2,.h2{
	font-size: 2.5em;
}

h3,.h3{
	font-size: 2.17em;
}

h4,.h4{
	font-size: 2em;
}

h5,.h5{
	font-size: 1.83em;
}

h6,.h6{
	font-size: 1.67em;
}

p{
	margin: $gutter-small 0;
}

span{}

sub{}

sup{}

em{}

strong{}

hr{}

img{}

input {
	-webkit-appearance: none;
	border-radius: 0;
}

select{
	option{}
}

textarea{}

a{
	color: $color-primary;
	text-decoration: none;

	&:hover{}
}

blockquote{
	p{}
}

ul{
	li{}
}

ol{
	li{}
}

code{
	display: inline-block;
	width: 100%;
	overflow: scroll;
	padding: $gutter;
	box-sizing: border-box;
	background: $color-tertiary;
	color: $color-white;
}
