html,body{
	background: $color-secondary;
	height: 100%;
}

body {
	@include font(0);
	font-size: $font-size;
	color: $font-color;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

.wrapper{
	background: $color-white;
	min-height: 100%;
	margin-bottom: -$footer-height;

	&:after{
		content: '';
		display: block;
		position: relative;
		width: 100%;
		clear: both;
		height: $footer-height;
	}
}
