.main-nav{
  height: $nav-height;
  text-transform: uppercase;
  font-size: 1.2em;
}

.main-nav__list{
  margin: 0;
  padding: 0 $gutter-small;
  list-style: none;
}

.main-nav__list-item{
  position: relative;
  display: inline-block;
  perspective: 500;

  @include break(mobile-land, 1) {
    &:hover .main-nav__sub{
      display: block;
      opacity: 1;
      height: auto;
      transform: translate(-50%,0%);
      padding: $gutter-small 0;
    }
  }
}

.main-nav__sub{
  @include break(mobile-land, 1) {
    height: 0px;
    z-index: 100;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 50%;
    backface-visibility: hidden;
    box-sizing: border-box;
    opacity: 0;
    transform: translate(-50%, 10%);
    background: darken($color-primary, 10%);
    transform-origin: top center;
    transition: transform $transition-length ease-in-out, opacity $transition-length;

    .main-nav__link{
      height: auto;
      white-space: nowrap;
      line-height: inherit;
      padding: $gutter-small $gutter;
    }
  }
}

.main-nav__link{
  color: $color-white;
  display: inline-block;
  height: $nav-height;
  line-height: $nav-height;
  padding: 0 $gutter-small;
  text-decoration: none;
}

.main-nav__sub-link{
}
