.social-nav{
  list-style: none;
  padding: 0 $gutter/3;
  margin: 0;

  &__item{
    display: inline-block;
  }

  &__link{
    padding: 0 $gutter/3;
    text-decoration: none;
    color: $color-white;
  }

  .fa{
    vertical-align: middle;
  }
}
